manifest {
    description = 'Somatic variant calling in tumor/normal paired or single sampels'
    nextflowVersion = '> 20.07.1'
}

profiles {
  hopper {
    
    singularity {
      enabled = true	
      runOptions = '--bind /fs1/ --bind /local/ --bind /mnt/beegfs/ --bind /fs2/'
    }

    env{
      SENTIEON_LICENSE='10.139.0.101:8990'
      bwt_max_mem='70G'
    }

    process {
      queue       =   params.queue
      executor    =   'slurm'
      withLabel:   'process_high' {
        memory    =   70.GB
        time      =   12.h
        cpus      =   50
      }
      withLabel:   'process_medium' {
        memory    =   32.GB
        time      =   12.h
        cpus      =   16 
      }
      withLabel:   'process_low' {
	      memory    =   16.GB
        time      =   2.h
        cpus      =   8
      }
      withLabel   :   'process_single' {
	      memory    =   40.GB
        time      =   5.h
        cpus      =   2
      }
    }

    params {
      // GENERAL PATHS //
      refpath = '/fs1/resources/ref/hg38/'
      outdir = '/fs1/results_dev/'
      subdir = 'tumwgs'
      crondir = '/fs1/results_dev/cron/'
      gens_accessdir = "/access/tumwgs/gens"


      // SENTIEON CONFIGS //
      //genomic_shards_file = "$baseDir/shards_38.csv"
      //genomic_shards_num = 32 , 17 
      genomic_shards_file = "$baseDir/shards_400MB.csv"
      genomic_shards_num = 9
      bwa_shards = 8
      shardbwa = true
      copy = true
      intersect_bed = "${refpath}/bed/wgsexome/hg38_ens98_allcodingexons20bppadding_allclinvar5bppadding_agilent.noalt.bed"

      // FASTA //
      genome_file="${refpath}/fasta/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr.fna"
      GENOMEDICT="${refpath}/fasta/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr.dict"
  
      // VEP REFERENCES AND ANNOTATION DBS //
      CADD = "${refpath}/annotation_dbs/whole_genome_SNVs.tsv.gz"
      VEP_FASTA = "${refpath}/vep/.vep/homo_sapiens_merged/98_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"
      MAXENTSCAN = "${refpath}/vep/.vep/Plugins/MaxEntScan_scripts"
      VEP_CACHE = "${refpath}/vep/.vep"
      GNOMAD = "${refpath}/annotation_dbs/gnomad_2.1/gnomad.exomes.r2.1.sites.grch38.ALLchr.vcf.gz,gnomADg,vcf,exact,0,AF_popmax,AF,popmax"
      PHYLOP =  "${refpath}/annotation_dbs/hg38.phyloP100way.bw,phyloP100way,bigwig"
      PHASTCONS = "${refpath}/annotation_dbs/hg38.phastCons100way.bw,phastCons,bigwig"
      
      // ANNOTATION DBS GENERAL //
      KNOWN = "${refpath}/annotation_dbs/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
      CLINVAR = "${refpath}/annotation_dbs/clinvar38_latest.vcf.gz"
          
      SNPEFF_DIR = "${refpath}/snpeff"

      COV_INTERVAL_LIST = "${refpath}/gatk_cnv/targets_preprocessed_100bp_bins.interval_list"
      GATK_PON_FEMALE = "${refpath}/gatk_cnv/20200204_female_cnvpon_100bp.hdf5"
      GATK_PON_MALE = "${refpath}/gatk_cnv/20200204_male_cnvpon_100bp.hdf5"
      FASTGNOMAD_REF = "${refpath}/annotation_dbs/gnomad_hg38.0.00001.dat"
      GENS_GNOMAD = "${refpath}/annotation_dbs/gnomad_hg38.0.05.txt"
        
      GATK_GNOMAD = "${refpath}/gatk_cnv/gnomad_5pct.intervals"
      
      PON_freebayes = "${refpath}/tumwgs/PON_freebayes_206_wgs"
      PON_vardict = "${refpath}/tumwgs/PON_vardict_206_wgs"

      GENE_BED_PC = "${refpath}/gtf/gencode.v33.annotation.genes.proteincoding.bed"
      GENE_BED_ALL = "${refpath}/gtf/gencode.v33.annotation.genes.bed"
      
      SNV_HARD_FILTER = true
      panels {
        'solid' {
          PANEL_SNV = "${refpath}/tumwgs/snv.panel"
          PANEL_CNV = "${refpath}/tumwgs/cna.panel"
          PANEL_FUS = "${refpath}/tumwgs/fusion.panel"
        }
        'all' {
          PANEL_SNV = "${refpath}/tumwgs/snv.panel.AL"
          PANEL_CNV = "${refpath}/tumwgs/cna.panel.AL"
          PANEL_FUS = "${refpath}/tumwgs/fusion.panel.AL"
        }
      
      } 
    }    
  }

  trannel {

    singularity{
      enabled = true	
      runOptions = '--bind /fs1/ --bind /local/'
    }

    env{
      SENTIEON_LICENSE='10.139.0.101:8990'
      bwt_max_mem='50G'
    }

    process {
      withLabel   :   'process_high' { 
        memory    =   50.GB
        time      =   12.h
        cpus      =   30
      }
      withLabel   :   'process_medium'  {
	      memory    =   32.GB
        time      =   12.h
        cpus      =   16 
      }
      withLabel   :   'process_low' {
	      memory    =   32.GB
        time      =   2.h
        cpus      =   8
      }
        withLabel   :   'process_single' {
	      memory    =   40.GB
        time      =   5.h
        cpus      =   1
      }    
    }

    params {
      // GENERAL PATHS //
      refpath = '/fs1/resources/ref/hg38/'
      outdir = '/fs1/results_dev/'
      subdir = 'tumwgs'
      crondir = '/fs1/results_dev/cron/'

      // SENTIEON CONFIGS //
      genomic_shards_file = "$baseDir/shards_400MB.csv"
      genomic_shards_num = 9
      bwa_shards = 8
      copy = false
      shardbwa = true
      intersect_bed = "${refpath}/bed/wgsexome/hg38_ens98_allcodingexons20bppadding_allclinvar5bppadding_agilent.noalt.bed"

      // FASTA //
      genome_file="${refpath}/fasta/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr.fna"
      GENOMEDICT="${refpath}/fasta/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr.dict"
  
      // VEP REFERENCES AND ANNOTATION DBS //
      CADD = "${refpath}/annotation_dbs/whole_genome_SNVs.tsv.gz"
      VEP_FASTA = "${refpath}/vep/.vep/homo_sapiens_merged/98_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"
      MAXENTSCAN = "${refpath}/vep/.vep/Plugins/MaxEntScan_scripts"
      VEP_CACHE = "${refpath}/vep/.vep"
      GNOMAD = "${refpath}/annotation_dbs/gnomad_2.1/gnomad.exomes.r2.1.sites.grch38.ALLchr.vcf.gz,gnomADg,vcf,exact,0,AF_popmax,AF,popmax"
      PHYLOP =  "${refpath}/annotation_dbs/hg38.phyloP100way.bw,phyloP100way,bigwig"
      PHASTCONS = "${refpath}/annotation_dbs/hg38.phastCons100way.bw,phastCons,bigwig"
      
      // ANNOTATION DBS GENERAL //
      KNOWN = "${refpath}/annotation_dbs/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
      CLINVAR = "${refpath}/annotation_dbs/clinvar38_latest.vcf.gz"
          
      SNPEFF_DIR = "${refpath}/snpeff"

      COV_INTERVAL_LIST = "${refpath}/gatk_cnv/targets_preprocessed_100bp_bins.interval_list"
      GATK_PON_FEMALE = "${refpath}/gatk_cnv/20200204_female_cnvpon_100bp.hdf5"
      GATK_PON_MALE = "${refpath}/gatk_cnv/20200204_male_cnvpon_100bp.hdf5"
      FASTGNOMAD_REF = "${refpath}/annotation_dbs/gnomad_hg38.0.00001.dat"
      GENS_GNOMAD = "${refpath}/annotation_dbs/gnomad_hg38.0.05.txt"
        
      GATK_GNOMAD = "${refpath}/gatk_cnv/gnomad_5pct.intervals"
      
      PON_freebayes = "${refpath}/tumwgs/PON_freebayes_206_wgs"
      PON_vardict = "${refpath}/tumwgs/PON_vardict_206_wgs"

      GENE_BED_PC = "${refpath}/gtf/gencode.v33.annotation.genes.proteincoding.bed"
      GENE_BED_ALL = "${refpath}/gtf/gencode.v33.annotation.genes.bed"
      
      SNV_HARD_FILTER = true
      panels {
        'solid' {
          PANEL_SNV = "${refpath}/tumwgs/snv.panel"
          PANEL_CNV = "${refpath}/tumwgs/cna.panel"
          PANEL_FUS = "${refpath}/tumwgs/fusion.panel"
        }
        'all' {
          PANEL_SNV = "${refpath}/tumwgs/snv.panel.AL"
          PANEL_CNV = "${refpath}/tumwgs/cna.panel.AL"
          PANEL_FUS = "${refpath}/tumwgs/fusion.panel.AL"
        }
      
      } 
    }    
  }
}



